#complaintsTable table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

#complaintsTable td, th {
  padding: 2px;
  border:1px solid #b2b2b2;
  border-collapse: collapse;
}

#complaintsTable th#empty-head {
    border: none;
}

#complaintsTable th#header{
    background-color: #bfbfbf;
}
